<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Listar por materia</title>
    </head>
    <body>

        <h2>{{titulo}}</h2>

        
        {% for publicacao in publicacoes %}
            {{publicacao.titulo}} <br />
            {{ publicacao.resumo }} <br />

            <br />
        {% endfor %}
        
    </body>
</html>