{% extends 'principal/template.html' %}

{% load crispy_forms_tags %}

<!-- Página de teste -->

{% block 'content' %}

<div class="container py-4">
    <h1>{{titulo}}: {{publicacao.titulo}}</h1>
    <h6>Criado em: {{publicacao.criado_em}}</h6>
    <h6>Atualizado em: {{publicacao.atualizado_em}}</h6>

    <hr>
    <!-- <a href="{% url 'publicacoes_criar' %}" class="btn btn-success mb-3">{{titulo}}</a> -->

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <a href="{% url 'publicacoes_listar' %}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Ok</button>
    </form>

</div>

{% endblock %}