#Ignorando a pasta do VirtualEnv
venv/
.env
.venv

#Ignorando arquivos .pyc e pychache
*.pyc
__pycache__/

#Ignorando pasta vscode:
*.vscode

#Ignorando banco de dados
*.sqlite3

#ignorando as migracoes
*/migrations/0*

#Ignorando o .directory
.directory