{% extends 'registration/template.html' %}

{% load bootstrap %}

{% block 'conteudo' %}

<div class="p-4 sessao-formulario">
  <h1>Olá! Bom te ter de volta.</h1>
  <p class="texto-destaque">Entre com sua conta para poder criar, gerenciar planos de estudos e muito mais!</p>

  <form method="post" id="formulario_de_cadastro">
    {% csrf_token %}
    <div id="inputs" class="form-group" class="row">

      {{form.nome}}
      {{form.email}}
      {{form.data_de_nascimento}}
      {{form.senha}}
      {{form.confirmacao_de_senha}}
    </div>

    <button id="submit" class="btn btn-primary btn-form">Criar conta</button>

    <p class="texto-destaque">Já possui a sua? <a href="{% url 'entrar' %}">Entre com ela!</a></p>
  </form>
</div>

{% endblock %}