* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #content{
    /* height: 100vh; */
}

#nav-space{
    margin-top: 80px;
}

.container-fluid{
    padding: 0px;
}

#fixos{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

#barra{
    display: none;
    width: 350px;
    height: 100vh;
    padding: 20px;
}

#botoes, #barra{
    float: left;
}

#botoes{
    position: fixed;
    bottom: 0;
    margin: 20px;
}

.lateral-escondida{
    transition: 0.2s;
    left: -25%;
}

.lateral-exposta{
    transition: 0.2s;
    left: 0%;
}

/* -----

#top-publicacoes .card{
    padding: 20px;
    padding-bottom: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

#top-publicacoes .card .card-body{
    padding: 20px 10px;
}

.card .btn{
    width: 100%;
}

#planos-de-estudos-destaque{
    padding: 60px 25px;
}

#meus-planos-de-estudos{
    padding: 60px 40px;
}

#planos-de-estudos-destaque{
    padding-top: 10px;
}

#meus-planos-de-estudos{
    background-color: #1b1b1b;
    background-image: url('../imgs/Books-cover-macro-photography_3840x2160.jpg');
}

.planos .btn{
    width: 100%;
    padding: 20px;
}

#planos-de-estudos-destaque .planos .btn, #planos-de-estudos-destaque .planos h3{
    margin-top: 10px;
}

#meus-planos-de-estudos .planos div{
    padding: 1px;
}

@media (max-width: 576px){
}
*/