/* ESTIIZAÇÃO DOS CARTÕES DE ÁREAS */
#areas{
    display: flex;
    padding: 30px 50px 15px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#areas img{
    width: 40px;
}

#areas h2{
    margin-top: 18px;
    font-size: 16px;
    text-transform: uppercase;
}

.cartao-area{
    text-align: center;
    margin: 5px;
    width: 120px;
    padding: 5px;
}



/* ESTILIZAÇÃO DA ÁREA DE CARTÕES */
.objetos{
    padding: 30px;
}
    
  